.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    box-shadow: 0px 1px 8px -4px var(--dark-gray);
    background-color: var(--white);
}

.header__title {
    font-weight: 800;
    font-size: 24px;
}

.header__button-theme {
    font-size: 16px;

    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    background-color: white;
    cursor: pointer;
    transition: transform 100ms;
}

.header__button-theme:hover {
    transform: scale(1.05);
}

.nav__list {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav__link {
    color: var(--very-dark-blue-text);
    text-decoration: none;
    font-weight: 600;
}
