.main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 340px;
    column-gap: 40px;
    row-gap: 80px;
    padding: 40px;
    height: 100%;
}

.card {
    justify-self: center;
    display: flex;
    flex-direction: column;
    height: 340px;
    width: 290px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0px 1px 7px -4px var(--dark-gray);
}

.card__img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 160px;
    width: 100%;
}

.card__title {
    margin-top: 24px;
    font-size: 20px;
    font-weight: 800;
    margin-left: 24px;
}

.card__list {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 25px;
    font-weight: 600;
    margin-left: 24px;
}

.card__list-item {
    display: flex;
    gap: 5px;
}

.card__list-text {
    font-weight: 400;
}
